.MuiDateRangePickerInput-root.picker-range {min-width: 205px;}
.MuiDateRangePickerInput-root.picker-range .MuiFormLabel-root{padding-left: 25px;}

.MuiPickersPopper-paper .picker-range > div:first-child {display: none;}
.pro-card .MuiCard-root:last-child{background: #000;color: #fff;}
/* .pro-card .MuiCard-root:last-child{background: url('static/img/illustrations/pro-card.png');color: #fff;} */