.MuiDateRangePickerInput-root.picker-range {min-width: 205px; border: 1px solid #D7DBEC;border-radius: 4px;}
.MuiDateRangePickerInput-root.picker-range .date-1 .MuiFormLabel-root{padding-left: 25px;background-image: url('../../../public/static/img/avatars/calender.svg');
  background-size: contain;background-repeat: no-repeat;}
  .MuiDateRangePickerInput-root.picker-range .MuiInputLabel-shrink{opacity: 0;}
.MuiDateRangePickerInput-root.picker-range .MuiFormLabel-root{top: -6px;font-size: 14px;}
.MuiDateRangePickerInput-root.picker-range input {padding: 10px;}
.date-1 fieldset,.date-2 fieldset{border: none;} 

.MuiPickersPopper-paper .picker-range > div:first-child {display: none;}
/* .pro-card .MuiCard-root:last-child{background: #000;color: #fff;} */

/* table */

